@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script>
        const sidebarLinks = document.querySelectorAll('.sidebar-link');
        const views = document.querySelectorAll('.view');
        sidebarLinks.forEach((link) => {
            link.addEventListener('click', (event) => {
                event.preventDefault();
                const targetView = document.querySelector(event.target.hash);
                if (!targetView.classList.contains('active')) {
                    views.forEach((view) => view.classList.remove('active'));
                    targetView.classList.add('active');
                }
            });
        });

        // Get the current URL path and split it into an array of segments
        var path = window.location.pathname.split('/');

        // Get the last segment, which should be the active tab name
        var activeTab = path[path.length - 1];

        // Add the 'active' class to the corresponding tab in the sidebar
        $('#sidebar a[href="' + activeTab + '"]').addClass('active');
    </script>

}

@model UserAppointment;

<style>
    .sidebar {
        width: 300px;
        height: 100%;
        background-color: rgba(253, 230, 255, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
    }

    .sidebar-heading {
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    .sidebar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebar-item {
        margin: 10px;
    }

    .appointment-item {
        background-color: rgba(0, 95, 167, 1);
        border-radius: 5px;
        margin-top: 2em;
        align-items: center;
    }

    .appointment-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: #fff !important;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    .sidebar-item.appointment-item a.appointment-link:hover {
        background-color: white;
        color: rgba(0, 95, 167, 1) !important;
        border: 1px solid rgba(0, 95, 167, 1);
    }

    .sidebar-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

        .sidebar-link:hover {
            background-color: rgba(245, 129, 255, 0.8);
            color: white;
        }

        .sidebar-link.active {
            background-color: rgba(245, 129, 255, 0.8);
            font-weight: bold;
            color: white;
        }

    .main-content {
        margin-left: 200px;
        padding: 20px;
    }

    .sidebar-title {
        margin-right: 1em;
    }

    .view {
        display: none;
    }

        .view.active {
            display: block;
        }

    .Content {
        margin-left: 2em;
    }

    .content-title {
        margin-top: 2em;
        color: rgba(129, 127, 191, 1);
    }

    .appointment-container {
        margin-top: 2em;
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
    }

    .appointment-container-inside {
        background-color: rgba(232, 228, 255, 0.49);
        border: 1px solid rgba(129, 127, 191, 1);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 1em;
    }

    .appointment-title {
        max-height: 3em;
        overflow-wrap: break-word;
        overflow: clip;
        font-weight: bold;
        text-align: start;
    }

    .appointment-description {
        margin-top: 1em;
        max-height: 4.5em;
        min-height:4.5em;
        overflow-wrap: break-word;
        overflow: hidden;
        text-align: justify;
    }

    .appointment-timings {
        margin-top: 2em;
        color: rgba(253, 123, 0, 0.49);
        font-weight: bold;
    }

    .appointment-status {
        color: rgba(253, 0, 40, 0.49);
        font-weight: bold;
    }

    .appointment-type {
        color: rgba(3, 131, 252, 0.49);
        font-weight: bold;
    }

    .loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginContent {
        background-color: rgba(253, 230, 255, 0.8);
        border: 1px solid rgba(252, 210, 255, 0.8);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        width: 30em;
        padding: 3em;
        border-radius: 10px;
        margin-top: 3em;
    }

    .textField {
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 1em;
    }

    .Label {
        margin-bottom: 1em;
        color: rgba(0, 95, 167, 1);
    }

    .btn {
        background-color: rgba(176, 162, 255, 0.49);
        color: rgba(99, 76, 221, 0.49);
        border-radius: 5px;
        width: 100px;
        padding: 10px;
        font-size: 1em;
        margin-bottom: 2em;
        border: none;
        transition: all 0.3s ease-in-out;
    }

        .btn:hover {
            background-color: #fff;
            color: rgba(176, 162, 255, 0.49);
            box-shadow: 0px 0px 10px rgba(176, 162, 255, 0.49);
        }
</style>

<div class="sidebar">
    <div class="sidebar-heading" style="margin-top:1em;">
        <h4 style="color:rgba(0, 95, 167, 1);" class="fw-bold"><i style="color:rgba(0, 95, 167, 1);" class="bi bi-balloon-heart-fill"></i>Appointy</h4>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item active">
            <a href="#today" class="sidebar-link">
                <i class="bi bi-calendar-day-fill sidebar-title"></i>
                Today
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#upcoming" class="sidebar-link">
                <i class="bi bi-stickies-fill sidebar-title"></i>
                Upcoming
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#completed" class="sidebar-link">
                <i class="bi bi-bookmark-star-fill sidebar-title"></i>
                Completed
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#cancelled" class="sidebar-link">
                <i class="bi bi-x-square-fill sidebar-title"></i>
                Cancelled
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#your-profile" class="sidebar-link">
                <i class="bi bi-person-fill sidebar-title"></i>
                Your Profile
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#change-password" class="sidebar-link">
                <i class="bi bi-key-fill sidebar-title"></i>
                Change Password
            </a>
        </li>
        <li class="sidebar-item appointment-item">
            <a href="#add-new-appointment" class="sidebar-link appointment-link">

                + Add New Appointment
            </a>
        </li>
    </ul>
</div>

<div class="main-content">
    <div id="today" class="view active Content">
        <h3 class="content-title">Today's Appointments</h3>
        @if (ViewBag.TodayAppointments == null)
        {
            <div>
                No Appointments Scheduled Today! Have Fun! Wohooo!
            </div>
        }
        @if (ViewBag.TodayAppointments != null)
        {
            @foreach (var appointments in ViewBag.TodayAppointments)
            {
                <div class="appointment-container" style="">
                    <div class="row appointment-container-inside">
                        <div class="col-md-10" style="">
                            <div class="row">
                                <div class="col-md-8 appointment-title">
                                   @appointments.AppointmentTitle
                                   </div>
                                <div class="col-md-4">
                                    <div class="appointment-type">
                                        @appointments.AppointmentType
                                    </div>
                                    <div class="appointment-status">
                                        @appointments.AppointmentStatus
                                    </div>
                                </div>


                            </div>
                            <div class="appointment-description">
                                @appointments.AppointmentDescription
                            </div>
                            <div class="row appointment-timings">
                                <div class="col-md-3">
                                    <p>Date - @appointments.AppointmentDate </p>
                                </div>
                                <div class="col-md-4">
                                    Time - @appointments.AppointmentTime
                                </div>
                                <div class="col-md-5">
                                    Duration - @appointments.Duration
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="">
                            <div class=""  style="margin-bottom:2em;>
                                @if (appointments.SetReminder)
                                {
                                    <i class="bi bi-alarm-fill" style="color:rgba(96, 89, 190, 0.97);font-size:20px"></i>
                                }
                                @if (!appointments.SetReminder)
                                {
                                    <i class="bi bi-alarm" style="color:rgba(96, 89, 190, 0.97);font-size:20px"></i>
                                }
                            </div>
                            <div class="appointment-options">
                                <button class="btn"><i class="bi bi-pencil-fill" style="margin-right:0.5em;"></i>Edit</button>
                            </div>
                            <div class="appointment-options">
                                <button class="btn"><i class="bi bi-trash-fill" style="margin-right:0.5em;"></i>Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        
    </div>
    <div id="upcoming" class="view Content">
        <h3 class="content-title">Upcoming Appointments</h3>
        @if (ViewBag.UpcomingAppointments != null)
        {
            @foreach (var appointments in ViewBag.UpcomingAppointments)
            {
                <div class="appointment-container" style="">
                    <div class="row appointment-container-inside">
                        <div class="col-md-10" style="">
                            <div class="row">
                                <div class="col-md-8 appointment-title">
                                    @appointments.AppointmentTitle
                                </div>
                                <div class="col-md-4">
                                    <div class="appointment-type">
                                        @appointments.AppointmentType
                                    </div>
                                    <div class="appointment-status">
                                        @appointments.AppointmentStatus
                                    </div>
                                </div>


                            </div>
                            <div class="appointment-description">
                                @appointments.AppointmentDescription
                            </div>
                            <div class="row appointment-timings">
                                <div class="col-md-3">
                                    <p>Date - @appointments.AppointmentDate </p>
                                </div>
                                <div class="col-md-4">
                                    Time - @appointments.AppointmentTime
                                </div>
                                <div class="col-md-5">
                                    Duration - @appointments.Duration
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-2" style="">
                            <div class="" style="margin-bottom:2em;">
                                @if (appointments.SetReminder)
                                {
                                    <i class="bi bi-alarm-fill" style="color:rgba(96, 89, 190, 0.97);font-size:20px"></i>
                                }
                                @if (!appointments.SetReminder)
                                {
                                    <i class="bi bi-alarm" style="color:rgba(96, 89, 190, 0.97);font-size:20px"></i>
                                }
                            </div>
                            <div class="appointment-options">
                                <button class="btn"><i class="bi bi-pencil-fill" style="margin-right:0.5em;"></i>Edit</button>
                            </div>
                            <div class="appointment-options">
                                <button class="btn"><i class="bi bi-trash-fill" style="margin-right:0.5em;"></i>Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @if (ViewBag.UpcomingAppointments == null)
        {
            <div>
                No Appointments Scheduled! Have Fun! Wohooo!</div>
        }
    </div>
    <div id="completed" class="view Content">
        <h3 class="content-title">Completed Appointments</h3>

        @if (ViewBag.CompletedAppointments != null)
        {
            @foreach (var appointments in ViewBag.CompletedAppointments)
            {
                <div class="appointment-container" style="">
                    <div class="row appointment-container-inside">
                        <div class="col-md-10" style="">
                            <div class="row">
                                <div class="col-md-8 appointment-title">
                                    @appointments.AppointmentTitle
                                </div>
                                <div class="col-md-4">
                                    <div class="appointment-type">
                                        @appointments.AppointmentType
                                    </div>
                                    <div class="appointment-status">
                                        @appointments.AppointmentStatus
                                    </div>
                                </div>


                            </div>
                            <div class="appointment-description">
                                @appointments.AppointmentDescription
                            </div>
                            <div class="row appointment-timings">
                                <div class="col-md-3">
                                    <p>Date - @appointments.AppointmentDate </p>
                                </div>
                                <div class="col-md-3">
                                    Time - @appointments.AppointmentTime
                                </div>
                                <div class="col-md-6">
                                    Duration - @appointments.Duration
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-2" style="">
                            
                        </div>
                    </div>
                </div>
            }
        }
        @if (ViewBag.CompletedAppointments == null)
        {
            <div>
                No Completed Appointments!
            </div>
        }
    </div>
    <div id="cancelled" class="view Content">
        <h3 class="content-title">Cancelled Appointments</h3>
        @if (ViewBag.CancelledAppointments != null)
        {
            @foreach (var appointments in ViewBag.CancelledAppointments)
            {
                <div class="appointment-container" style="">
                    <div class="row appointment-container-inside">
                        <div class="col-md-10" style="">
                            <div class="row">
                                <div class="col-md-8 appointment-title">
                                    @appointments.AppointmentTitle
                                </div>
                                <div class="col-md-4">
                                    <div class="appointment-type">
                                        @appointments.AppointmentType
                                    </div>
                                    <div class="appointment-status">
                                        @appointments.AppointmentStatus
                                    </div>
                                </div>


                            </div>
                            <div class="appointment-description">
                                @appointments.AppointmentDescription
                            </div>
                            <div class="row appointment-timings">
                                <div class="col-md-3">
                                    <p>Date - @appointments.AppointmentDate </p>
                                </div>
                                <div class="col-md-3">
                                    Time - @appointments.AppointmentTime
                                </div>
                                <div class="col-md-6">
                                    Duration - @appointments.Duration
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2" style="">
                        </div>
                    </div>
                </div>
            }
        }
        @if (ViewBag.CancelledAppointments == null)
        {
            <div>
                No Cancelled Appointments!
            </div>
        }
    </div>
    <div id="your-profile" class="view Content">
        <h3 class="content-title">Your Profile</h3>
        <div class="row loginContainer">
            <div class="col-md-4 loginContent">
                <p style="color:rgba(0, 95, 167, 1);" class="fw-bold"><i style="color:rgba(0, 95, 167, 1);" class="bi bi-balloon-heart-fill"></i>Appointy</p>
                <h6 style="color:rgba(98, 98, 98, 0.8)" class="fw-lighter">Edit Your Profile.</h6>
                <hr />
                <form asp-action="EditProfile" method="post" class="form-horizontal">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group textField">
                        <label asp-for="UserName" class="control-label Label">User Name</label>
                        <input type="text" asp-for="UserName" class="form-control" value="@ViewBag.users.UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group textField">
                        <label asp-for="Name" class="control-label Label">Name</label>
                        <input type="text" asp-for="Name" class="form-control" value="@ViewBag.users.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group textField">
                        <label asp-for="Email" class="control-label Label">Email</label>
                        <input type="text" asp-for="Email" class="form-control" value="@ViewBag.users.Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group textField">
                        <label asp-for="MobileNumber" class="control-label Label">Mobile Number</label>
                        <input type="text" asp-for="MobileNumber" class="form-control" value="@ViewBag.users.MobileNumber" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group Buttons">
                        <button type="submit" class="btn" style="width:200px;margin-top:0.5em;">Update Profile</button>
                    </div>


                </form>
            </div>
        </div>
    </div>


    <div id="change-password" class="view Content">
        <h3 class="content-title">Change Password</h3>
        <div class="row loginContainer">
            <div class="col-md-4 loginContent">
                <p style="color:rgba(0, 95, 167, 1);" class="fw-bold"><i style="color:rgba(0, 95, 167, 1);" class="bi bi-balloon-heart-fill"></i>Appointy</p>
                <h6 style="color:rgba(98, 98, 98, 0.8)" class="fw-lighter">Change Password for better security.</h6>
                <hr />
                <form asp-action="ChangePassword" method="post" class="form-horizontal">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    
                    <div class="form-group textField">
                        <label asp-for="Password" class="control-label Label">Password</label>
                        <input type="text" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group textField">
                        <label asp-for="ConfirmPassword" class="control-label Label">New Password</label>
                        <input type="text" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group Buttons">
                        <button type="submit" class="btn" style="width:200px;margin-top:0.5em;">Change Password</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div id="add-new-appointment" class="view Content">
        <h3 class="content-title">Add New Appointment</h3>
        <!-- Add New Appointment view content here -->
    </div>

</div>